# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.idea/
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# backend-part
backend-part/.gitignore
backend-part/bin/
backend-part/include/
backend-part/lib/
backend-part/__pycache__/
backend-part/pyvenv.cfg

# ignore test files for development mode
backend-part/static/js/jquery-3.6.3.js

# ignore gmail confidential files and chrome web driver
backend-part/mailers/token.json
backend-part/mailers/client_secret.json

# ignore participant data file except README.md
backend-part/data/TransactionSS/*
!backend-part/data/TransactionSS/README.md

backend-part/data/xlsx/*
!backend-part/data/xlsx/README.md
