<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Records (SWJ-2023)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/adminPanel.css">
    </head>

    <body>
        <nav>
            <div id="heading">
                SWJ 2023
            </div>
            <div id="button-container">
                <div id="reload-button" class="button">
                    <i class="fa-solid fa-rotate-right"></i>
                </div>
                <div id="download-button" class="button">
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
                <div id="logout-button" class="button">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
            </div>
        </nav>

        <div id="data-container">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Work Place</th>
                    <th>City</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Transaction ID</th>
                    <th>Mail Status</th>
                    <th>Payment</th>
                </tr>
            </table>
        </div>
    </body>

    <!-- include font awesome cdn (for icons) -->
    <script src="https://kit.fontawesome.com/bd6d10ca98.js" crossorigin="anonymous"></script>

     <!-- include jQuery cdn-->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <!-- include jQuery script (for testing purposes only) -->
    <!-- <script rel="script" type="text/javascript" src="../static/js/jquery-3.6.3.js"></script> -->

    <!-- include main script -->
    <script rel="script" type="text/javascript" src="../static/js/adminPanel.js"></script>
</html>