<!DOCTYPE html>

<html>
    <head>
        <title>SWJ-2023-SCAN</title>
        <link rel="stylesheet" type="text/css" href="../static/css/QRScanner.css">
    </head>

    <body>
        <div id="video-container">
            <video id="video" autoplay></video>
        </div>

        <div id="approval-div">
            <div class="loading-circle"></div>
        </div>
    </body>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <!-- include jQuery cdn-->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <!-- include jQuery script (for testing purposes only) -->
    <!-- <script rel="script" type="text/javascript" src="../static/js/jquery-3.6.3.js"></script> -->

    <!-- include main script -->
    <script rel="script" type="text/javascript" src="../static/js/QRScanner.js"></script>
</html>
