<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Verify (SWJ-2023)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/verificationPanel.css">
    </head>

    <body class="flex-center">
        <div id="container">

        </div>








    </body>

    <!-- include jQuery cdn-->
    <!-- <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>-->

    <!-- include jQuery script (for testing purposes only) -->
    <script rel="script" type="text/javascript" src="../static/js/jquery-3.6.3.js"></script>

    <!-- include main script -->
    <script rel="script" type="text/javascript" src="../static/js/verificationPanel.js"></script>
</html>